server {
	# Reject anything that isnt GET or HEAD
	if ($request_method !~ ^(GET|HEAD)$) {
		return 403;
	}

	listen 80;
	listen [::]:80;

	charset utf-8;

	root /var/www/html;
	index index.html index.htm index.nginx-debian.html;

	server_name your.pool.host;

	location / {
		proxy_pass http://127.0.0.1:8080/;
		proxy_set_header X-Real-IP $remote_addr;
	}

	# Redirect /admin to /
	location /admin {
		rewrite ^/.* / permanent;
	}

}

